.form-container{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    width:100%;
}
.form-group-inputs{
    display:flex;
    flex-direction:column;
}
button {
    background-color: #F0FFFF;
    border: none;
    color: lightseagreen;
}
